@use "variables" as *;

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:  #fafafa;
  color: $text;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: $radius;
  border: 2px solid $border;
  transition: 0.3s;
  position: relative;

  &:hover {
    transform: translateY(-2px);
    box-shadow: $hover-shadow;
  }

  &.completed {
    color: $completed-color;
    border-color: rgb(62, 188, 62) !important;
    background: $completed-bg !important;
  }

  &.urgent {
    background: $urgent-bg;
    border-color: $danger;
  }

  .task-label {
    display: flex;


    .task-text {
      padding-left: 8px;
      padding-right: 8px;
      cursor: pointer;
    }

    .urgent-label {
      background: $danger;
      color: white;
      padding: 2px 6px;
      font-size: 0.75rem;
      border-radius: 4px;
      font-weight: bold;
    }

    .completed-label {
      background: rgb(62, 188, 62);
      color: white;
      padding: 2px 6px;
      font-size: 0.75rem;
      border-radius: 4px;
      font-weight: bold;
    }
  }

  button.delete {
    background: $danger;
    margin-left: 10px;
  }

  button.delete:hover {
    opacity: 0.85;
  }
}

.urgent-checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.9rem;
}